.profile-page {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
}

.ProfileTemplate {
    flex: 1; /* El ProfileTemplate ocupará el espacio a la izquierda */
    margin-right: 20px; /* Espacio entre el template y el sidebar */
}

.Sidebar {
    flex: 0.3; /* Sidebar ocupará menos espacio que el template */
    margin-left: 20px;
}
