.profile-form {
    max-width: 600px;
    margin: 0 auto; /* Centramos el formulario en la página */
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los campos del formulario */
}

.form-button {
    display: flex;
    justify-content: flex-end; /* El botón se coloca a la derecha */
    margin-top: 20px;
}

button {
    background-color: #FF6B00; /* Color de fondo naranja del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E65C00; /* Color de fondo cuando pasas el mouse */
}
